.Rproj.user
.Rhistory
.RData
inst/doc
.vignett
R/sandbox.R
doc
Meta
inst/manuscript/manuscript_cache/
inst/manuscript/manuscript.log
inst/manuscript/manuscript.aux
inst/manuscript/manuscript.blg
inst/manuscript/manuscript.pdf
inst/manuscript/manuscript.tex
inst/manuscript/manuscript.out
inst/manuscript/manuscript.bbl
inst/manuscript/manuscript_files/
inst/manuscript/.trackdown
docs
..bfg-report/
.DS_Store
.vscode
*.trackdown
README.html
/doc/
/Meta/
